:root {
  --cream: #f2e7d2;
  --cream-light: #fffbf4;
  --lighter-brown: #523f1955;
  --light-brown: #523f19bf;
  --brown: #55443c;
  --dark-brown: #342a24;
  --red: #933c1f;
  --dark-red: #7e341b;
  --error-red: #c03636;
  --pink: #fee2e2;
  --dark-pink: #c58293a4;
  --green: #2a905d;
  --shadow-black: #0000000d;
  --error-shadow: #ef444411;

  --font-size-small: 0.8rem;
  --font-size-base: 1rem;
  --font-size-lg: 2rem;

  --z-content: 1;
  --z-dropdown: 10;
  --z-header: 100;
  --z-modal: 1000;

  --border-radius: 0.5rem;
  --border-width: 0.0625rem;
  --border-width-thick: 0.1rem;
}
