.recipe-card {
  border: 0.0625rem solid var(--brown);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--sand);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.recipe-card-title {
  margin: 0;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

.recipe-card-title:hover {
  color: var(--red);
}

.recipe-card-image {
  /* TODO */
}
