.loading-acorn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 70vh;
  stroke: var(--brown);
}

.acorn-icon {
  animation: bounce 1.4s ease-in-out infinite both;
}

.acorn-1 {
  animation-delay: -0.32s;
}

.acorn-2 {
  animation-delay: -0.16s;
}

.acorn-3 {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-squirrel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading-squirrel svg {
  color: var(--brown);
  width: 5rem;
  height: 5rem;
}
