.grocery-list-wrapper {
  flex-direction: column;
}

.list-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.edit-list-items {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: flex-start;
}

.list-view-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
}

.list-view-item.checked {
  opacity: 0.6;
  text-decoration: line-through;
}

.item-name {
  font-weight: 500;
  color: var(--dark_brown);
}

.item-details {
  color: var(--brown);
}

.spacer {
  flex-shrink: 0;
}
