@import "./components/buttons.css";

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-animation svg {
  color: var(--brown);
  width: 5rem;
  height: 5rem;
}

/* TODO - move back arrow and maybe loading animation too  */
.back-arrow {
  left: 3rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .app {
    padding: 0.75rem;
  }
}
