/* Fonts */
@import "/fonts/fonts.css";

/* Components */
@import "./components/buttons.css";
@import "./components/inputs.css";
@import "./components/modal.css";

/* Globals */
@import "./globals/typography.css";
@import "./globals/variables.css";
@import "./globals/utilities.css";

/* Layout */
@import "./layout/containers.css";
