.forgot-password-page-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-link {
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
}

.forgot-password-header {
  margin-bottom: 0rem;
}

.auth-link:hover {
  color: var(--red);
}
