.forgot-password-page-container {
  padding-top: 12rem;
}

.auth-link {
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
}

.forgot-password-header {
  margin-bottom: 0rem;
}

.auth-link:hover {
  color: var(--red);
}
