.header {
  margin: 0;
  padding-top: 0.5rem;
  position: sticky;
  top: 0;
  background-color: var(--cream);
  gap: 0.25rem;
  z-index: var(--z-header);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: relative;
}

.header-logo,
.header-logo-2 {
  color: var(--brown);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.header-logo-2 {
  color: var(--dark_pink);
  transform: scaleX(-1);
}

.header .title-wrapper {
  position: absolute;
  inset: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: var(--heading-font-family);
  color: var(--brown);
  cursor: pointer;
  font-optical-sizing: auto;
  transform: none;
  user-select: none;
  -webkit-user-select: none;
  line-height: 1;
}

.header h3 {
  font-size: 1rem;
  font-family: var(--heading-font-family);
  color: var(--brown);
  margin: 0;
  line-height: 1;
}

.login-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.language-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.language:hover {
  color: var(--dark_red);
  cursor: pointer;
}

.language {
  margin: 0;
}

.language.selected {
  color: var(--dark_red);
}

.search-bar {
  gap: 0.25rem;
  display: flex;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0.25rem 0;
  }

  .header-logo,
  .header-logo-2 {
    order: 1;
    width: 2rem;
    height: 2rem;
  }

  .header .title-wrapper {
    order: 2;
    position: static;
    transform: none;
  }

  .header h3 {
    font-size: 0.8rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header-nav {
    order: 3;
  }

  .login-wrapper {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .search-bar-wrapper {
    margin-top: 0;
  }
}
