.categories {
  position: relative;
}

.category-list {
  padding: 1rem 0;
  overflow-x: auto;
  display: block;
  flex-flow: row nowrap;
}

.category-item {
  padding: 0.5rem 1rem;
  color: var(--dark_brown);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1.2rem;
}

.category-item:hover {
  color: var(--red);
}

.category-item.selected {
  color: var(--red);
}
