#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading-animation svg {
  color: var(--brown);
  width: 5rem;
  height: 5rem;
}
