@import "fonts/fonts.css";

:root {
  /* Color scheme and background */
  --cream: #ede1c5;
  --sand: rgba(255, 255, 255, 0.6);
  --light_brown: #523f19bf;
  --brown: #534019;
  --dark_brown: #423314;
  --red: #933c1f;
  --dark_red: #7e341b;
  --error_red: #ef4444;
  --pink: #fee2e2;

  background-color: var(--cream);
  color-scheme: light dark;

  /* Typography */
  /* Old font - font-family: "Noto Sans", sans-serif; */
  font-family: "Gabarito", sans-serif;
  --heading-font-family: "Forta", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  color: #433314;

  /* Font rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  font-size: 1rem;
}
